
/* Menu styling */

.menu {
    border-top-width: 0px;
    border-color: #fff;
    width: 100%;
    font-family: "Myriad Set Pro", "Helvetica Neue", "helvetica", "Arial", "San Serif";
    background-color: rgba(45, 45, 45, 0.98);
    color: white;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    position: fixed;
}

.menu-container {
    background-color: rgba(45, 45, 45, 0.98);
    position: fixed;
    width: 100%;
    z-index: 99999;
    text-align: center;
    padding-bottom: 15px;
}

.Menu-entry a {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0 40px;
}

.menu a:link {
    color: white;
    text-decoration: none;
}

.menu a:visited {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: silver;
}	
section{
	position: relative;
	top:50px;

}
.air .title{
	margin:0;
	padding-top: 45px;
}
.air h3{
	margin:5px 0 0;
}




.iphone-x{
	text-align:center;
}


.image.one{
	background-image: url(https://www.apple.com/v/home/ed/images/heroes/spring-iphone-xr/iphone_xr__b0z59ak0bqdy_large.jpg);
	width:622px;
	height:352px;
	background-size: 622px 352px;
	background-repeat: no-repeat;
	display: inline-block;
}
.image-container{
	text-align:center;	
}
.learn-more{
	color:#0070c9;
	font-size:17px;
	font-weight: 400;
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	
}
.content{
	text-decoration: none;
	font-size: 24px;
	font-family: "SF Pro display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-weight: 400;

}
.content.title{
	font-size:56px;
	font-weight:600;

}

.image.two{ 
	background-image: url(https://www.apple.com/v/home/ed/images/heroes/spring-iphone-xs/iphone_xs__cm637qa5dno2_large.jpg);
	width:774px;
	height:313px;
	background-size: 774px 313px;
	background-repeat: no-repeat;
	display: inline-block;
}
.image.three{ 
	background-image: url(https://www.apple.com/euro/home/m/screens_alt/images/heroes/ipad-air/ipad_air_hero__csmc7ugxq32a_small.jpg);
	width:693px;
	height:395px;
	background-size: 693px 395px;
	background-repeat:no-repeat;
	display: inline-block;

 body {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1.47059;
}

    text-decoration: none;
}

.Applelogo {
    height: 30px;
    width: 30px;
}

.shopping-bag {
    width: 20px;
}

.Menu-entry .shopping-bag {
    height: 10px;
    width: 20px;
}

.Menu-entry .search {
    height: 15px;
    width: 20px;
}

.hamburger-menu {
    position: relative;
    left: 19px;
    top: 10px;
}

.hamburger-menu span {
    display: block;
    background-color: white;
    width: 40px;
    height: 2px;
    margin-bottom: 10px;

}



footer{
	position: relative;
	top:50px;
	background-color: #f2f2f2;
	font-size: 12px;
	font-family:"SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 325px;	
	margin:0 -99rem;
	padding:0 99rem;

}



.footer.wrapper{
	top:20px;
	position: relative;
	border-top:1px solid rgb(214, 214, 214);
	margin-top:10px;
	width: 980px;;
	margin:0px auto;
	display:flex;
	
	
}
.column{ 
	position: relative;
	display:inline-block;
	width: 24%;
	left: 0px;
	color: rgb(51, 51, 51);
	text-align: left;
	font-weight:400;
	font-size:1em;
	line-height:2;
	color: #555555;
	margin-top:20px;
	height: 215px;
	
}
.footer-links{
	margin:0px;
}
h5{
	top:0;
	font-weight:600;
	color: #333333;
	font-size: 12px;
	font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
}
.bottom{
	display:block;
	width:980px;
	margin: 0px auto;
	font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(136, 136, 136);
	font-size: 1em;
	padding:20px 0px 21px;
}
.reseller{
	border-bottom: 1px solid rgb(214, 214, 214);
	top:20px;
	position:relative;
	padding-bottom:10px;

}
.reseller a{
	color:#0070c9;
}
.copyright{
	position:relative;
	top:20px;
	width:auto;

}
.copyright div{
	display:inline-block;

}
.copy-text{
	margin:5px 30px 0 0;
}
.terms{
	margin: 5px 7px 0 0;
	border-right: 1px solid rgb(214, 214, 214);
	padding-right: 10px;
}
.terms1{
	color: rgb(85,85,85);
}
.country {
	display:inline-block;
	float:right;
	position: relative;
	padding-top:5px;
	color: rgb(85,85,85);
}
.flag{
	background-image:url(https://www.apple.com/ac/flags/1/images/il/16.png);
	background-size: 16px 16px;
	height: 15px;
	width:15px;
	padding-right:20px;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1060 px){
 	.image.one{
		width: 573px;
		height:337px;
		background-size: 573px 337px;
		}
 	.image.two{
		width: 716px;
		height:295px;
		background-size: 5716x 295px;
		}
 	.image.three{
		width: 659x;
		height:382px;
		background-size: 510px 329px;
		}
	
    }
    

    /* Table Promotions */

/* 1. Table Promotions for large Screen*/

.large-screen {
    margin-left: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.large-screen tr {
    height: 30%;
    text-align: center;
}

.large-screen td {
    border: 5px solid white;
    height: 500px;
    text-align: center;
    width: 50%;
    position: relative;
}

/* 2. Table Content */

.content-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    padding: 10px;
    z-index: 0;
}

.content-table .logo-headline h4 {
    margin: 15px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.content-table .logo-headline h5 {
    color: rgb(255, 255, 255);
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 4px;
    letter-spacing: 0.336px;
    height: normal;
    margin: 0px;
}

.content-table .logo-headline.black h5 {
    color: black;
}

/* 3. Table Images */

.News {
    background-image: url("../Images/News-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.TV {
    background-image: url("../Images/[www.apple.com][87]appletvplusheroeanv36ga64q6small2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Arcade {
    background-image: url("../Images/apple_arcade_tile__e69rgw4ia2mq_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Music {
    background-image: url("../Images/apple_music__gdfamywhn6ye_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.note {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.note-music {
    height: 30px;
    width: 30px;
}

.Watch {
    background-image: url("../Images/Apple-watch-large_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Airpods {
    background-image: url("../Images/airpods_magic__medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 4. Table Links */

.content-table .link {
    margin: 15px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.374px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    z-index: 2;
    position: relative;
}

.content-table .link.black {
    color: #0070c9;
    z-index: 2;
}

.content-table a:link {
    text-decoration: none;
    z-index: 2;
}

.content-table a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.content-table a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.content-table .link.black a:visited {
    text-decoration: none;
    color: #0070c9;
    z-index: 2;
}

.content-table .link.black a:hover {
    text-decoration: underline;
    color: #0070c9;
    z-index: 2;
}

table .link {
    padding: 0px;
    color: white;
    z-index: 2;
}

/* 5.Table Promotions for mobile */

.mobile tr {
    height: auto;
    text-align: center;
    width: 100%;
}

.mobile td {
    border: 5px 0px solid white;
    padding: 0px;
    height: 500px;
    text-align: center;
    width: 100%;
    position: relative;
}

table.stripe.mobile {
    padding: 0px;
}



@media only screen and (min-width:735px) {
    .hamburger-menu {
        display: none;
    }
    .mobile {
        display: none;
    }
    .bottom span {
        display: none;
    }
}

@media screen and (max-width:735px){
	.image.one{
		width:279px;
		height:351px;
		background-size: 279px 351px;
	}
	.image.two{
		width:220px;
		height:309px;
		background-size: 220px 309px;
	}
	.image.three{
		width:510px;
		height:329px;
		background-size: 510px 329px;
	}
	.block{
		display:block;
        width:100%;
    }
        
        .Menu-entry {
            display: none;
        }
        .hamburger-menu {
            width: 20%
        }
        .Applelogo {
            width: 30px;
            position: absolute;
            bottom: 0px;
        }
        .shopping-bag {
            width: 20px;
            position: absolute;
            bottom: 0px;
            right: 10px;
        }
	}


